html,main,body{
    height:100%
} 

.nav {
    grid-area: nav;
    background-color: aliceblue;
    height: 50px;
}

.sampleFromYourGames{
    grid-area: sampleChess;
    background-color:darkgreen;
}

.main-content{
    grid-area: main;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-content{
    grid-area: button-content;
    background-color: coral;
}

.analysis {
    grid-area: analysis;
    background-color: blueviolet;
}

.notes {
    grid-area: notes;
    background-color:coral;
    
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "main"
    "button-content"
    "analysis"
    "sampleChess"
    "notes";
}

#fenValue{
    width:-webkit-fill-available;
    max-width: 84ch;;
}

@media only screen and (min-width: 768px){
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "nav nav nav"
        "button-content main analysis"
        "sampleChess notes notes";
    }
}
