.ddl-button {
    display: flex;
    border-left: 3px solid transparent;
    height: 100%;
}

.ddl-button span {
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    color: var(--color-gray);
    text-transform: uppercase;
}

.ddl-container {
    position: relative;
    cursor: pointer;
}

.ddl-container:hover .ddl-button {
    border-left: 3px solid var(--color-blue);
    background-color: white;
}

.ddl-list {
    display: none;
    box-shadow: -1px 5px 6px rgb(0 0 0 / 30%);
}

.ddl-list div:first-child {
    border-top-right-radius: 5px;
}

.horizontal-icon-menu .ddl-list div:first-child {
    border-top-right-radius: 0px;
}

.ddl-list div:last-child {
    border-bottom-right-radius: 5px;
}

.horizontal-icon-menu .ddl-list div:last-child {
    border-bottom-right-radius: 0px;
}

.ddl-list > div {
    padding: 10px;
    min-width: 140px;
    font-size: 14px;
    color: var(--color-gray);
}

.ddl-container:hover .ddl-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--color-blue);
    background-color: white;
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: capitalize;
}

.horizontal-ddl-menu .ddl-container:hover .ddl-list div:hover {
    background-color: var(--color-blue);
    color: white;
}

.lichessOrg {
    font-size: 25px;
    text-shadow: 0 1px 0 #fff;
}

.lichessOrg span {
    color: #4d4d4d;
}

.lichessOrg a {
    color: #787878;
}

.horizontal-icon-menu .ddl-container > div {
    cursor: pointer;
    border: solid 3px transparent;
    font-size: 1.1rem;    
}

.horizontal-icon-menu .ddl-container > div:hover {
    color:black;
}

.horizontal-icon-menu .ddl-container:hover .ddl-list {
    right: 0;
    border-left: 0px;
    background-color: white;
    z-index: 1;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-transform: capitalize;
}

.horizontal-icon-menu .ddl-container:hover > div {
    background-color: white;
}
.horizontal-icon-menu .ddl-container:hover .ddl-list div .changeColorOnHover:hover {
    background-color: var(--color-green);
    color: white;
}

.solid-border-bottom {
    border-bottom: solid 1px var(--color-gray);
    padding: 0px !important;
}

.solid-border-bottom > div {
    padding: 10px;
}

.status {
    display: flex;
}

.statusDetails > div {
    width: max-content;
}

.statusDetails div > span {
    text-transform: uppercase;
}

.statusDetails > div span:last-of-type {
    text-transform: lowercase;
}

.signal i{
    padding: 0px;
    background-color: var(--color-green);
    width: 40%;
}

.signal i:first-of-type{
    width: 20%;
}