body {
    color:var(--color-strong-gray);
}

.playerName {
    font-weight: bold;
    font-size: var(--font-size-1);
    cursor: pointer;
    color:var(--color-light-gray);
    box-sizing: content-box;
    display: inline-block;
}

.playerName:hover .player {
    color:var(--color-blue);
}

.playerName span:not(.player){
    color:var(--color-gold-streamer);
}

.playerName span:not(:empty) + span{
    margin-left: 5px;
}

.greenColor {
    color: var(--color-green) !important;
}

.redColor {
    color:var(--color-red) !important;
}

.button {
    border: 1px solid #d9d9d9;
    border-radius: var(--border-radius-common);
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-family: var(--font-family-2);
    color: #787878;
    font-size: 15.4px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
    font-weight: 600;
    transition: all 150ms;
    cursor: pointer;
    background: var(--light-linear-gradient);
    text-decoration: none;
}

.button:hover {
    filter: brightness(1.033);
    box-shadow: 1px 3px 6px 1px rgb(0 0 0 / 23%);
}

.board {
    background-image: url(./img/board_brown.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.smallBoard {
    background-image: url(./img/board_brown.svg);
    background-repeat: no-repeat;
    background-position: center;
    height:calc(8*25px);
}
