.gridnav {
    grid-area: nav;
    display: none;
    height: 40px;
}

.grid11{
    grid-area:side;
}

.grid12-3{
    grid-area: main-content;
}

.grid14{
    grid-area: start-game;
}

.grid21{
    grid-area: game-ongoing;
}

.grid22{
    grid-area: ladder;
}

.grid23{
    grid-area: tournament-winner;
}

.grid24 {
    grid-area: problem;
}

.grid32-3 {
    grid-area: maj;
}

.grid34 {
    grid-area: store;
}

.grid42-3 {
    grid-area: open-tournament;
}

.grid52-3 {
    grid-area: simultaneous-game;
}

.grid62-3 {
    grid-area: forum;
}

.bullet1 {
    grid-area: bullet1;
}

.blitz3 {
    grid-area: blitz3;
}

.bullet3 {
    grid-area: bullet3;
}

.blitz32 {
    grid-area: blitz32;
}

.blitz50 {
    grid-area: blitz50;
}

.blitz53 {
    grid-area: blitz53;
}

.rapid10 {
    grid-area: rapid10;
}

.rapid105 {
    grid-area: rapid105;
}

.classique30 {
    grid-area: classique30;
}

.classique3020 {
    grid-area: classique3020;
}

.perso {
    grid-area: perso;
}

/*smartphone*/
.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
    "main-content"
    "start-game"
    "side"
    "problem"
    "game-ongoing"
    "ladder"
    "tournament-winner"
    "open-tournament"
    "simultaneous-game"
    "store"
    "maj"
    "forum";
}

@media only screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;    
        padding-left: 5%;
        padding-right: 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        grid-template-areas: 
        "nav nav nav nav"
        "side main-content main-content start-game"
        "game-ongoing ladder tournament-winner problem"
        ". maj maj store"
        ". open-tournament open-tournament ."
        ". simultaneous-game simultaneous-game ."
        ". forum forum .";
    }

    .gridnav {
        display: flex;
    }

    .lichessOrg {
        display: flex;
    }

    .horizontal-ddl-menu {
        display: flex;
    }

    .horizontal-icon-menu {
        display: flex;
        margin-left: auto;
    }
}

/*tablets*/
@media only screen and (min-width: 415px) and (max-width: 768px){

}


#quick-start-grid {
    bottom: calc(var(--border-height-after) + var(--height-after));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    position: relative;
    padding: 15px;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    grid-auto-rows: 1fr;
    grid-template-rows: minmax(100px, 1fr);
    grid-template-areas: 
    "bullet1 bullet2 blitz3"
    "blitz32 blitz50 blitz53"
    "rapid10 rapid105 rapid1510"
    "classique30 classique3020 perso"
}

#quick-start-grid::after {
    content:"";
    background-image: url(./img/lichess-pad4.svg);
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    border-radius: inherit;
}

#quick-start-grid > div {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    transition: background-color 150ms ease, border-color .5s ease, opacity 150ms ease;
    text-align: center;
}

#quick-start-grid > div:hover {
    background-color: rgba(236, 183, 172, 0.5);
    border-color: hsl(10,63%, 80%);
}

/* .wrapper > div {
    border: solid thin;
} */