.grid11 > * + *{
 margin-top: 10px;
}

.streamerContent {
    display: flex;
    flex-direction: column;
}

.streamerName{
    cursor: pointer;
    color: var(--color-gold-streamer);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
}

.streamerName::before{
    content:"";
    font-family: "lichess";
}

.streamTitle {
    cursor: pointer;
    color: var(--color-gray);
    font-family: var(--font-family-2);
    font-size: var(--font-size-1);
    margin-left: 5px;
}

.hookPage {
    /* this class must be in a flexbox*/
    text-align: right;
    font-family: var(--font-family-2);
    font-size: var(--font-size-0);
    color: var(--color-light-gray);
    cursor: pointer;
}

.hookPage:hover {
    color: var(--color-blue);
}

.scheduledTournament .tournamentButton:last-child{
    box-shadow: 0px 1px 1px 0 rgb(0 0 0 / 40%);
}

.tournamentButton {
    background: var(--blue-linear-gradient);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family-1);
    padding: 4px;
}

.tournamentButton .content{
    display: flex;
    flex-direction: column;
    color: var(--color-strong-gray);
    margin-left: 10px;
    justify-content: center;
}

.tournamentButton .content:hover{
    color: var(--color-blue);
}

.tournamentButton i:before {
    content: attr(icon);
}

.tournamentButton .name{
    font-size: var(--font-size-1);
}

.tournamentButton .headline{
    font-size: var(--font-size-2);
}

.tournamentButton .more{
    font-size: var(--font-size-2);
}

.tournamentButton i {
    font-size: 42px;
    color:white;
    text-shadow: 1px 1px 2px #1b78d0;
}

.numberPlayer:after{
    content: " • ";
}

.lastNotifications {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
}

.lastNotifications div {
    margin-right: 10px;
}

.lastNotifications a {
    margin-right: 10px;
}

.notification {
    color: var(--color-gray);
    font-family: var(--font-family-1);
}

.notification * + *{
    padding-left: 5px;
}

.notificationTitle{
    font-size: var(--font-size-1);
}

.notification .time {
    font-size: var(--font-size-0);
}

.notificationTitle i{
    padding-left: 5px;
    padding-right: 5px;
}

.notificationTitle:hover {
    color: var(--color-blue);
    cursor: pointer;
}

.notification i:hover{
    color: var(--color-blue);
}

.notification:after{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: linear-gradient(to left, #d9d9d9 20%, #edebe9);
    margin: 0.7em 0;
}

/* show / display scrollbar */
.lastNotifications::-webkit-scrollbar {
    display: none;
}

.lastNotifications {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.lastNotifications:hover::-webkit-scrollbar{
    display: initial;
}

.lastNotifications:hover {
    -ms-overflow-style: initial;  /* IE and Edge */
    scrollbar-width: initial; /* Firefox */
}
/* end show / display scrollbar */